.header{
  background-color: #150a0d;
  color: #D18C9A;

  a.brand{
    color: #EFDBDD;
    font-family: monospace;
    font-size: 20px;
    span{
      display: none;
      @include phone-support{
        display: inline-block;
      }
    }
  }
  .brand img{
    background: #F1C8B8;
    border-radius: 3px;
    padding: 3px;
    margin-right: 10px;
  }
  a:hover.brand {
    color: #F1C8B8;
  }

  .header-menu{
    display: none;
    a{
      color: burlywood;
      padding: 10px;
    }
    a:hover{
      color: #efdbdd;
    }
    a.active {
      color: #efdbdd;
    }
  }
  .side-bar-menu{
    display: block;
    .hamburger{
      background: #f1c8b9;
      opacity: 1;
    }
  }
  @include ipad-support {
    .header-menu{
      display: block;
    }
    .side-bar-menu{
      display: none;
    }
  }
  .collapse-header{
    display: none;
    width: 100%;
    a{
      width: fit-content;
      margin: auto;
      display: block;
      color: white;
      line-height: 2em;
      font-size: 1.2em;
    }
  }

}
